:root {
    --bg-dark-color: #020d19;
    --header-links-color: #abb7c4;
    --header-links-hover: #dcf836;
    --accent-color: #dd003f;
    --accent-color-hover: #bd0035;
    --input-bg-color: #233a50;
}