.movies {
    position: relative;
    margin-top: 1.1em;
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

@media screen and (max-width: 768px) {
    .movies {
        grid-template-columns: repeat(2, 1fr);
    }
}