@import url("../../../styles/variables.css");

.btn {
    font-family: inherit;
    font-size: inherit;
    display: flex;
    align-items: center;
    padding: 0.6em 1.1em;
    border-radius: 30px;
    border: none;
    background-color: var(--accent-color);
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--accent-color-hover);
}

.login {
    text-transform: uppercase;
    box-shadow: 0px 0px 0px 0px var(--accent-color);
    padding: 0 1.1em;
}

.login:hover {
    background-color: var(--accent-color);
    transform: translateY(-5px);
    box-shadow: 0px 5px 0px 0px var(--accent-color-hover);
}

.login:active {
    transform: translateY(0px);
    box-shadow: 0px 0px 0px 0px var(--accent-color);
}

.genre {
    padding: 0.4em 0.9em;
    color: #000;
    background-color: var(--header-links-color);
    text-transform: lowercase;
    text-decoration: none;
}

.active {
    background-color: var(--header-links-hover);
}

.genre:hover {
    background-color: var(--header-links-hover);
}