@import url("../../../styles/variables.css");

.nav {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    font-size: 16px;
}

.links {
    display: flex;
    margin-left: -10px;
}

.link {
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    color: var(--header-links-color);
    transition: color 0.3s ease 0s;
}

.link_active {
    color: var(--header-links-hover);
}

.link:hover{
    color: var(--header-links-hover);
}

.account {
    display: flex;
    gap: 10px;
}